/**** Start Default Theme ****/
.option-box .color-option{ 
    border: 5px solid #21af21;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,.carousel-indicators .active ,.option-box  .gear-check {
    background-color:#21af21;
}
.navbar-brand span,.about h1 span,.testimonials span,
.testimonials span
{color: #21af21;}
.dropdown-menu{
    border-top: 2px solid #21af21; 
}
.testimonials .carousel-indicators li.active {
    border: 3px solid #21af21;
}
.footer .copyright span ,.footer h3{
    color: #21af21;
}
/**** End Default Theme ****/